h1 {
    color: aqua
}


.leader {
    background: pink;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer {
    display: flex;
    justify-content: flex-end;
}

p,
h2 {
    text-align: center;
}